.button {
  padding: 1em 1.5em;
  font-size: 0.9em;
  font-weight: 600;
  color: rgb(132, 120, 133);
  border: solid 0em white;
  border-radius: 1em;
  background: #e0e0e0;
  box-shadow: 1em 1em 1.6em #bebebe,
                -1em -1em 1.6em #ffffff;
  transition: all ease 0.2s;
}

.button:hover {
  letter-spacing: 0.04em;
  font-size: 0.95em;
  color: rgb(208, 106, 218);
  box-shadow: 1em 1em 1.6em #cabec9,
             -1em -1em 1.6em #ffeafd;
  transition: all ease 0.2s;
}
